[defaults]
inventory = hosts.ini
host_key_checking = False
forks = 100
# This ensures you don't get hung up on one slow host
timeout = 10 

[privilege_escalation]
become = True
become_method = sudo
become_user = root
